@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500;700&display=swap');

:root{
  --para-text: 'Josefin Slab', serif;
}

*{
  box-sizing: border-box;
}
body{
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
  margin: 0;
}

section{
  padding: 2%;
}
.section-subtitle, .section-title{
  text-align: center;
}
.section-subtitle{
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
.section-title{
  font-size: 3.8rem;
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 80px;
}
.bestSelling-prod{
  display: flex;
  flex-flow: row;
  justify-content:center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.bs-card{
  width: 300px;
  height: 600px;
}
.bs-card-img{
  height: 350px;
  width: 100%;
  padding: 10%;
  background-position: center 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #f3f3f4;
}
#bs-img-1{
  background-image: url(https://image.uniqlo.com/UQ/ST3/ph/imagesgoods/461914/sub/phgoods_461914_sub2.jpg?width=750);
}

#bs-img-one
{
  background-image: url(https://image.uniqlo.com/UQ/ST3/ph/imagesgoods/467543/item/phgoods_69_467543.jpg?width=750);
}
#bs-img-2{
  background-image: url(https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/457512/item/goods_17_457512.jpg?width=750);
}

#bs-img-two
{
  background-image: url(https://image.uniqlo.com/UQ/ST3/ph/imagesgoods/465187/item/phgoods_41_465187.jpg?width=750);
}
#bs-img-3{

  background-image: url(https://www.penshoppe.com/cdn/shop/products/972639-Black_8.jpg?v=1682317266&width=1080);
}

#bs-img-three
{
  background-image: url(https://www.penshoppe.com/cdn/shop/products/977289-Navy_Blue_3.jpg?v=1708056854&width=1800);
}

#bs-img-4
{

    background-image: url(https://www.penshoppe.com/cdn/shop/products/979516-Seafoam_Green_1.jpg?v=1712284514&width=1080);
}

#bs-img-four
{
  background-image: url(https://www.penshoppe.com/cdn/shop/products/977317-Mint_Green_4.jpg?v=1708501149&width=1800);
}

#bs-img-5
{
    background-image: url(https://www.oxgnfashion.com/cdn/shop/files/981827-Light_Blue_1.jpg?v=1715322850&width=1200);
}

#bs-img-6
{

    background-image: url(https://www.oxgnfashion.com/cdn/shop/products/972117-Blue_2.jpg?v=1707178677&width=1200);
}

#bs-img-7
{
  background-image: url(https://www.oxgnfashion.com/cdn/shop/files/976957-Bone_1.jpg?v=1715135736);
}

#bs-img-8
{
  background-image: url(https://www.oxgnfashion.com/cdn/shop/files/980656-Beige_2.jpg?v=1713314863);
}


#bs-img-9
{
    background-image: url(https://eu.louisvuitton.com/images/is/image/lv/1/LV/louis-vuitton--HRN09WJAX60J_PM1_Look%20view.jpg);
}

#bs-img-10
{

    background-image: url(https://eu.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton-embroidered-short-sleeved-cotton-bowling-shirt-ready-to-wear--HRS03WIKE035_PM1_Cropped%20view.jpg);
}

#bs-img-11
{
  background-image: url(https://eu.louisvuitton.com/images/is/image/lv/1/PP_VP_L/louis-vuitton-lv-buckle-cotton-shorts-ready-to-wear--HRP42WKAC925_PM1_Cropped%20view.jpg);
}

#bs-img-12
{
  background-image: url(https://buyma-global-prod-img.s3.amazonaws.com/img/upload/product_image/dd4ceeb0-23a2-4098-9522-794d9eb3a076/03a0192d-388b-42db-80e6-f5ae07ad728a.png);
}

#bs-img-13
{
    background-image: url(https://pbs.twimg.com/media/F0vae1QaYAAft-M.jpg:large);
}

#bs-img-14
{

    background-image: url(https://media.gucci.com/style/DarkGray_Center_0_0_2400x2400/1710180940/788024_XJGJY_2219_002_100_0000_Light-Cotton-polo-shirt-with-embroidery.jpg);
}

#bs-img-15
{
  background-image: url(https://media.gucci.com/style/DarkGray_Center_0_0_1200x1200/1683326748/752608_XJFTM_4330_002_100_0000_Light-Wool-cotton-jersey-polo-shirt.jpg);
}

#bs-img-16
{
  background-image: url(https://media.gucci.com/style/DarkGray_Center_0_0_1200x1200/1712150231/788991_ZAQRU_9200_002_100_0000_Light-Gucci-silk-jacquard-shirt-and-bra-set.jpg);
}






#bs-img-17
{

    background-image: url(https://www.dior.com/couture/ecommerce/media/catalog/product/y/c/1714470506_H_24_3_LOOK_080_E09_GH.jpg);
}

#bs-img-18
{
  background-image: url(https://www.dior.com/couture/var/dior/storage/images/folder-media/folder-productpage/folder-crossselllook/folder-homme/folder-summer-24/folder-wave-1/block-h_24_2_look_094/43010431-2-eng-GB/h_24_2_look_094.jpg?imwidth=1024);
}

#bs-img-19
{
  background-image: url(https://www.dior.com/couture/ecommerce/media/catalog/product/z/V/1707997412_483J835A0931_C580_E01_GHC.jpg?imwidth=1024);
}











#bs-img-20
{

    background-image: url(https://www.prada.com/content/dam/pradabkg_products/U/UMB/UMB752/14GJF0627/UMB752_14GJ_F0627_S_OOO_MDF.jpg/_jcr_content/renditions/cq5dam.web.hebebed.1200.1200.jpg);
}

#bs-img-21
{
  background-image: url(https://www.prada.com/content/dam/pradabkg_products/U/UMB/UMB663/13LRF0008/UMB663_13LR_F0008_S_232_MDF.jpg/_jcr_content/renditions/cq5dam.web.hebebed.1200.1200.jpg);
}

#bs-img-22
{
  background-image: url(https://www.prada.com/content/dam/pradabkg_products/U/UCS/UCS501/1QWCF0065/UCS501_1QWC_F0065_S_OOO_MDF.jpg/_jcr_content/renditions/cq5dam.web.hebebed.1200.1200.jpg);
}

#bs-img-23
{
  background-image: url(https://www.prada.com/content/dam/pradabkg_products/S/SGC/SGC033/1ZR3F0009/SGC033_1ZR3_F0009_S_221_MDF.jpg/_jcr_content/renditions/cq5dam.web.hebebed.1200.1200.jpg);
}


[id^="bs-img-"] {
 
  transition: 0.5s ease; 
}

[id^="bs-img-"]:hover {
  transform: scale(1.1); 
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}










.bs-card-body{
  padding: 10px 0;
  
}
.bs-card-header{
  height: 50px;
  margin-bottom: 10px;
}
.bs-card-title{
  font-size: 1.3rem;
  text-transform: uppercase;
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  line-height: 10px;
}
.bs-card-title:hover{
  text-decoration: underline;
}
.bs-prod-data{
  font-family: var(--para-text);
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  flex-flow: column;
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #aaa;
}
.bs-prod-footer{
  padding-top: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 0;
}
.price{
  font-family: var(--para-text);
  font-weight: 500;
  font-size: 1.1rem;
}
.bs-card-btn{
  border: 1px solid black;
  padding: 5px 1.2rem;
  font-weight: 700;
  font-size: .85rem;
  letter-spacing: .05em;
  cursor: pointer;
  background-color: white;
  transition: all ease-in-out .3s;
}
.bs-card-btn::after{
  content:"";
  width:102px;
  height: 30px;
  right: -2px;
  top: 12px;
  border: 1px solid black;
  position: absolute;
  z-index: -1;
  transition: all ease-in-out .3s;
  background-color: black;
}
.bs-card-btn:hover{
  background-color: black;
  color: white;
}
.bs-card-btn:hover::after{
  right: 0px;
  top: 10px;
}


.best-selling-products {
    position: relative;
    text-align: center;
}
.background-image {
    position: relative;
    overflow: hidden;
}
.background-image img {
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}

.section-subtitle,
.section-title {
    margin-bottom: 20px;
}

h1
{
    font-size: 2.3rem;
}


section h1{
  font-size: 50px;
}

.btns {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: row;
  
  gap: 15px;

}
.bs-card-btn a{
  text-decoration: none;
  color: rgb(218, 206, 206);
}